@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Noto Sans", sans-serif;
}

:root {
    --ui-background: #ffffff;
    --ui-background-secondary: #f9fafb;
    --ui-background-elevated: #ffffff;
    --ui-background-shade: #464b59;
    --ui-border: #e2e5ed;
    --ui-border-elevated: #f9fafb;
    --ui-placeholder: #edf0f4;
    --ui-ai-background-primary: #f2ecfc;
    --ui-ai-background-secondary: #eaf6fc;
    --ui-tag-background: #f4f4f5;

    --ui-text: #202f38;
    --ui-text-secondary: #656f75;
    --ui-text-tertiary: #8d9599;
    --ui-text-disabled: #acb2b5;
    --ui-text-knockout: #ffffff;
    --ui-icon: #697379;
    --ui-icon-secondary: #979ea2;
    --ui-ai-primary: #8000ff;

    --ui-interaction-primary: #006bc2;
    --ui-interaction-primary-contrast: #0953bf;
    --ui-interaction-secondary: #eaf6fc;
    --ui-interaction-secondary-contrast: #d4ecf9;
    --ui-interaction-callout: #ff0099;
    --ui-interaction-callout-contrast: #fff2fa;

    --ui-status-danger: #eb364b;
    --ui-status-danger-contrast: #bc2b3c;
    --ui-status-danger-soft: #fdebed;
    --ui-status-warning: #f99d02;
    --ui-status-warning-contrast: #f27c00;
    --ui-status-warning-soft: #fff6e3;
    --ui-status-success: #41c464;
    --ui-status-success-contrast: #2a7e41;
    --ui-status-success-soft: #ecf9ef;
    --ui-status-other: #828ba4;
    --ui-status-other-contrast: #585f70;
    --ui-status-other-soft: #eff1f5;
}

.druids-highlight-match{
    background: #FFF5BA;
}
