@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Noto Sans", sans-serif;
}

:root {
    --ui-background: #ffffff;
    --ui-background-secondary: #f9fafb;
    --ui-background-elevated: #ffffff;
    --ui-background-shade: #464b59;
    --ui-border: #e2e5ed;
    --ui-border-elevated: #f9fafb;
    --ui-placeholder: #edf0f4;
    --ui-ai-background-primary: #f2ecfc;
    --ui-ai-background-secondary: #eaf6fc;



    --ui-tag-background: #f4f4f5;

    --ui-tag-text-value: #0C3472;
    --ui-tag-text-key: #57657E;

    --ui-text: #202f38;
    --ui-text-secondary: #656f75;
    --ui-text-tertiary: #8d9599;
    --ui-text-disabled: #acb2b5;
    --ui-text-knockout: #ffffff;
    --ui-icon: #697379;
    --ui-icon-secondary: #979ea2;
    --ui-ai-primary: #8000ff;

    --ui-interaction-primary: #006bc2;
    --ui-interaction-primary-contrast: #0953bf;
    --ui-interaction-secondary: #eaf6fc;
    --ui-interaction-secondary-contrast: #d4ecf9;
    --ui-interaction-callout: #ff0099;
    --ui-interaction-callout-contrast: #fff2fa;

    --ui-status-danger: #eb364b;
    --ui-status-danger-contrast: #bc2b3c;
    --ui-status-danger-soft: #fdebed;
    --ui-status-warning: #f99d02;
    --ui-status-warning-contrast: #f27c00;
    --ui-status-warning-soft: #fff6e3;
    --ui-status-success: #41c464;
    --ui-status-success-contrast: #2a7e41;
    --ui-status-success-soft: #ecf9ef;
    --ui-status-other: #828ba4;
    --ui-status-other-contrast: #585f70;
    --ui-status-other-soft: #eff1f5;

    --ui-dataviz-blue: #3598EC;

}



body.dark {

    --ui-background: #1D1C1F;
    --ui-background-secondary: #222126;
    --ui-background-elevated: #222126;
    --ui-background-shade: #3B393D;
    --ui-border: #3B393D;
    --ui-border-elevated: #272626;
    --ui-placeholder: #282728;
    --ui-ai-background-primary: #1F0936;
    --ui-ai-background-secondary: #222126;


    --ui-tag-background: #2C2B2B;

    --ui-tag-text-value: #6881A2;
    --ui-tag-text-key: #A19FA3;




    --ui-text: #C9C9C9;
    --ui-text-secondary: #909091;
    --ui-text-tertiary: #737274;
    --ui-text-disabled: #535255;
    --ui-text-knockout: #FFFFFF;
    --ui-icon: #89898A;
    --ui-icon-secondary: #6A696B;
    --ui-ai-primary: #B973FF;

    --ui-interaction-primary: #3D8BD0;
    --ui-interaction-primary-contrast: #579FDD;
    --ui-interaction-secondary: #091222;
    --ui-interaction-secondary-contrast: #0E1D36;
    --ui-interaction-callout: #E50089;
    --ui-interaction-callout-contrast: #33001E;

    --ui-status-danger: #D33043;
    --ui-status-danger-contrast: #EB364B;
    --ui-status-danger-soft: #2F0A0F;
    --ui-status-warning: #CC9022;
    --ui-status-warning-contrast: #E5A226;
    --ui-status-warning-soft: #332408;
    --ui-status-success: #349C50;
    --ui-status-success-contrast: #349C50;
    --ui-status-success-soft: #0D2714;
    --ui-status-other: #65626A;
    --ui-status-other-contrast: #858387;
    --ui-status-other-soft: #2C2B2B;

    --ui-dataviz-blue: #6B9CC8;

}

.druids-highlight-match {
    background: #FFF5BA;
}